.filter-container{
	display: flex;
	flex-direction: column;
	background-color: rgb(67, 67, 67);
	padding: 2em;
	height: 80vh;
	width: 25%;
	color: white;
	/* align-items: center; */
}

.filter-container > span {
	margin-bottom: .5em;
}

.title{
	font-size: 1.5em;
}

@media screen and (max-width: 771px) {
	.filter-container {
		width: 40%;
		padding: 10px;
		margin: 5px;
		height: 100%;
	}

.filter-container > span{
		font-style: 10px;	
	}

	.title {
		font-size: 10px !important;
	}
}