.App{
	width: 100vw;
	min-height: 100vh;
	background-color: #eee;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.App h1{
	margin: 0;
	/* text-align: center; */
}

a {
	color: inherit !important;
	text-decoration: none !important;
}